/* Home.css */

.product-item {
    margin: 0 10px;
}

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    z-index: 2;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
    opacity: 0.75;
    color: black;
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}

.slick-slide {
    padding: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

/* Custom arrow styles to match section-slide */
.slick-prev:before, .slick-next:before {
    content: '←'; /* Use the appropriate character or image */
    font-size: 30px;
    color: #000; /* Adjust color as needed */
}

.slick-next:before {
    content: '→'; /* Use the appropriate character or image */
}
